.navbar-brand{

    padding:0 0 0;

}


.name1{

  margin-left: 2.7rem;
  margin-top: -2.3rem;
  color: black;

}


.designation{
  
    margin-left:2.7rem;
    margin-top: -0.7rem;
    font-size: x-small;
    color: black;
}   


.topcircle{

 width:2.5rem;
 margin-top: 1rem;

}

.topcorner{


    margin-top: -0.5rem;
}


.navbartop .nav-link{
    color:black;
}


.navbartop .nav-link:hover {

    font-weight:bolder;
    border-bottom: 3px solid black;
    border-radius: 0.5px;
    }

 
 
.buttontopside {

    padding:4px 30px;
    border-radius: 25px;
    background-color: white;
    font-weight: bolder;
    margin-top: 0.1rem;
   }   


  
.buttontopside:hover{

    background-color: black;
    color:white;
   }   


#intro{

    padding: 12rem 1rem 0;

}

.rohan{

    margin-top: -0.2rem;
    margin-left: -0.1rem;
    font-weight: bolder;

}

.UI{

    margin-top: -0.3rem;
    height: 0.5px;
}

.hello{

    font-weight:400;
}



.button1{

    margin-top: 2rem;
    padding:9px 40px;
    border-radius: 25px;
    background-color: white;
    font-weight:500;
    border-width: 0.1px;
    color:gray;
    font-size: small;
    border-color: gray;
    
    }

.button2{

    margin-top: 2rem;
    margin-left: 1rem;
    padding: 9px 29px;
    border-radius: 23px;
    border-color: gray;
    background-color: white;
    font-weight:500;
    border-width: 0.1px;
    color:gray;
    font-size: small;
}


.roundebutton{

   margin-top: 1.7rem;

}

.button1:hover{

    background-color: black;
    color:white;
}

.button2:hover{

    background-color: black;
    color:white;
}




.social{

    margin-top: 1rem;
}

.B{

    height: 2rem;
}

.Ball{

    height: 2rem;
}

.lie{

    height: 2rem;

}


.Book{

    height: 2rem;
}


.ingram{

    height: 2rem;
}


.ter{

    height: 2rem;
}




.imgright{

    margin-top: -20rem;
    margin-left: 49rem;
    width: 30rem;
    
}

.downmenu{

    margin-top: 25rem;
    font-weight:600;
    font-size: small;
    
}

.navbar-light .nav-link {
  color: gray;
}



.navbar-light .nav-link:hover {

    font-weight:bold;
    border-bottom: 2px solid black;
    border-radius: 0.25px;
    }


.LoadMoreWork{

    padding:6px 25px;
    border-radius: 25px;
    background-color: white;
    font-weight: bolder;
    margin-top: 3rem;
}


#boxs .box:nth-child(n+7) {

    display:none;
}



#boxs{

    margin-top:-4rem;
}


.card{

    margin-top: 30px;
    
}


.card-body{

      padding-top: 0.1rem;
      height: 6rem;
   
}


.card-text .h6{

    font-weight: bolder;
    font-size: x-small;
}


.LoadMoreWork:hover{

    transition: all 0.5s ease;
    background-color: black;
    color:white;
}


.display-1{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color:rgb(231, 231, 231);
    
}


.dis{
    
    font-weight:bolder;
    font-size: 40px;
    
    
}

.dispara{

    font-size: small;
}




.button4{

    margin-top: 1rem;
    padding:10px 40px;
    border-radius: 25px;
    background-color: white;
    font-weight:500;
    border-width: 0.1px;
    color: gray;
    font-size: small;
    font-weight: 500;
    border-color: gray;
    
}


.button5{

    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px 29px;
    border-radius: 23px;
    background-color: white;
    font-weight:500;
    border-width: 0.1px;
    color:gray;
    font-size: small;
    font-weight: 500;
    border-color: gray;
}


.imgleft{
 
 width:30rem;
 
}

.banner {
  max-width: 100%;
  height: 33vh;
  background-image: url(banner.png);
  background-position: center center;
  background-image: cover;
}

.circle {
  width: 7%;
  margin-top:10.6rem ;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.marketing {
  font-weight: 455;
  font-size: 14px;
  color: gray;
}



.stars-container{
   

  text-align: center;
  margin-top: -0.6em;
}


.stars {
  display: inline-block;
  
}

.stars span:before {
  content: '\2605';
  color: black;
}



.button4:hover{

    background-color: black;
    color:white;
}

.button5:hover{

    background-color: black;
    color:white;
}



.aboutme{

    margin-top: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.read{
 
 margin-top: 15rem;

}

.readme{

    font-weight: bolder;
    font-stretch:extra-expanded;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.some{

    color: gray;
}



#boxs2 .box:nth-child(n+4) {

    display:none;
}


.btn .btn-link {

 transition: all 0.5s ease;

}


.button6{

    margin-top: 1rem;
    padding: 4px 20px;
    border-radius: 25px;
    background-color: white;
    font-weight:bold;
    color: gray;
    font-size:medium;
    border-color: gray;
    
}

.button6:hover{

    background-color: black;
    color:white;

}


.btn-link{

    color:darkgray;
    font-weight: 500;
}



.btn-link:hover{

    color:gray;
}

.footer {
   background-color: #2c2929;
  color: gray;
  padding: 5px 0;
  width:100%;
  margin: 0 auto ;

}


.iconbe,
.iconlink,
.iconface,
.iconinsta,
.icontwitter,
.iconbling {
  height: 24px;
  margin-right: 5px;
  
 
}

.nav-link {
  font-weight: 500;
  margin-left: 1rem;
  color: gray;
}

.nav-link:hover{
  
  color: gray;

}

































/*.footbg{

 background-color: rgb(44, 41, 41);
 
}


.footrighticon .nav-link{
  
  color: gray;
  font-weight: 500;
  margin-left: 1rem;
 } 


.buttondownside{


    padding: 4px 20px;
    border-radius: 10px;
    background-color: white;
    font-weight:500;

}*/











